@page
@model IndexModel

<form method="POST" class="mb-3">
    <div class="mb-2">
        <input asp-for="Input!.Text" autofocus class="form-control" />
    </div>
</form>

@if (Model.Output is not null)
{
    <ul class="list-group">
        @foreach (var x in Model.Output.Suggestions)
        {
            <li class="list-group-item">
                <span class="text-break">&lt;xref:@x&gt;</span>
            </li>
        }
    </ul>
}
